*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }
body{
    font-family: 'avenir',Helvetica, sans-serif;
}
.disp-in{
    display: inline-block;
    vertical-align: middle;
}
.disp-in-top{
    display: inline-block;
    vertical-align: top;
}
a{
    text-decoration: none;
}
.tc{
    text-align: center;
}
.hero{
    background-color: #0B0B9F;
    background-image: url(./imgs/lightning.png);
    background-repeat: no-repeat;
    background-position-x: left;
    z-index: -1;
}
.hero .container{
    max-width: 1200px;
    margin:0 auto;
    padding-top: 50px;
    width: auto;
    position: relative;
}

/*--------header--------------*/
.clearfix{
    overflow: auto;
}
.header nav ul li{
    display: inline-block;
    padding-left: 68px;
}
.header-left a{
    padding-right: 20px;
}
.header-left .header-logo{
    font-size: 24px;
    font-weight:900;
}
.header-left span{
    font-weight: lighter;
}
.hero-header-img{
    width: 62px;
}
.hero .header-logo{
    color: #FFFFFF;
}
.hero .header nav ul li a{
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px; 
}
.header-deco{
    top:160px;
    left: -90px;
    position: absolute;
    width: 38px;
}
.header-deco1{
    top: 640px;
    left:-90px;
    position: absolute;
    z-index: 1;
    width: 85px;
}
.header-deco2{
    position: absolute;
    left: 600px;
    top: 150px;
    width: 62px;
}
.header-deco3{
    position: absolute;
    left: 670px;
    top:260px;
}
.header-deco4{
    position: absolute;
    left: 650px;
    top:350px;
}
.header-deco5{
    position: absolute;
    left:670px;
    top:420px;
}
.header-deco6{
    z-index: 3;
    position:absolute;
    bottom: -25%;
    left: 40%;
    width: 127px;

}
/*----------hero main section-----------------*/

.hero-main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.hero-left{
    margin-top: 120px;
}
.hero-main img{
    height: auto;
    max-width: 100%;
}
.hero-main h1{
    font-size: 72px;
    color: #FFFFFF;
    line-height: 82px;
    font-style: normal;
    font-weight: 900;
}
.hero-left p{
    font-weight:400;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: block;
    margin-top: 20px;
}
.hero-left-lnk{
    padding:15px 30px;
    background-color: #FFFFFF;
    color:#000000;
    font-weight: 800;
    font-style: normal;
    display:inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 48px;
    border-radius: 10px;
}

/*--------------stats section--------------------*/

.stats .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 190px;
}
.stats-left-para1{
    max-width: 470px;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    color:#332a2a;
}
.stats-left-para2{
    max-width: 460px;
    font-weight:500;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    color: #332A2A;
    padding-top: 20px;
}
.stats-right{
    position: relative;
}
.stats-bar{
    position: absolute;
    top:3.4%;
    left:87%;
}
.stats-count{
    left: 85%;
    top:12%;
    position: absolute;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.81);
}
.stats-right-graph{
    position: absolute;
    top:30%;
    left: 25%;
}
.stats-right-graph p{
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
}
.stats-date-left{
    position:absolute;
    bottom: -16%;
    left: 8%;
}
.stats-date-right{
    position: absolute;
    bottom: -16%;
    left: 84%;
}
.stats-right_temp-bg{
    top:0%;
    position: absolute;
    left: 0;
}
.stats-right_temp-content{
    top:17%;
    position: absolute;
    left:10%;
    font-weight: 500;
    font-style: normal;
    font-size: 21px;
    line-height: 25px;
}
.stats-right_temp-content h1{
    font-weight:700;
}
.stats-right_temp-content p{
    padding-top: 10px;
}
.stats-right_temp-dec{
    position: absolute;
    left:30%;
    top: 8%;
}
.stats-dec2{
    position: absolute;
    bottom:25%;
    right: -16%;
}
.economic-times{
    transform: translateY(-140%);
}
/*-----------------------------------------------------------*/


/*-------------scroll-element-1-------------------------*/
.scroll-element{
    background-color: #FFA70B;
    position: relative;
    background-image: url(./imgs/lightning\ \(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}
.scroll-element .container{
    margin-top: 200px;
}
.scroll-el_dec1{
    position: absolute;
    top:10%;
    right:8%;
}
.scroll-el_dec2{
    position: absolute;
    left: 9%;
    bottom: 10%;
}
.scroll-element_content h1{
    padding:266px 0;
    font-size: 92px;
    font-weight: 900;
    line-height: 101px;
}

/*------------------------podcast-section-----------------------*/

.popular_podcast .container{
     margin: 0 auto;
     max-width: 1200px;
     margin-top: 130px;
}
.podcast-left{
    max-width: 500px;
}
.podcast-left h3{
    font-weight: 800;
    font-size: 60px;
    line-height: 69px;
    color:#332a2a;
}
.podcast-left p{
    padding-top: 38px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color:#332a2a;
}

.podcast-right img{
    max-width: 100%;
}
.podcast-right{
    padding-left: 80px;
}
.podcast-footer{
    background-color:#45FFFA;
    border-radius: 30px;
    z-index: 0;
    margin-top: 120px;
    max-width: 1130px;
    position: relative;
}
.podcast-footer_left{
    padding:69px 0 69px 62px;
}
.podcast-footer h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 55px;
    color:#000000;
}
.podcast-footer p{
    padding-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color:#332a2a;
}
.podcast-lnk{
    padding:21px 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 58px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color:#000000;
}
.podcast-dec1{
    position: absolute;
    top:75%;
    right: 20%;
    
}
.podcast-dec2{
    position: absolute;
    left: 15%;
    top:5%;
    z-index:-10;

}

/*-----------------foooter----------------*/

.footer .container{
    max-width: 100%;
    background-color: #222121;
    margin-top: 120px;
    position: relative;
}
.footer-content{
    padding:295px 0 190px 0;
}
.footer-content h1{
    font-weight: 800;
    font-size: 48px;
    line-height: 55px;
    color: #FFFFFF;
}
.footer-content a{
    padding:21px 41px;
    color:#FFFFFF;
    margin-top: 40px;
    background-color: #0C0CC4;
    display: inline-block;
    border-radius: 10px;
}
.footer-dec1{
    position: absolute;
    top:30%;
    right: 10%;
}
.footer-dec2{
    position: absolute;
    left: 10%;
    bottom: 17%;
}
.copyrights p{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 48px;
}

@media (max-width: 992px){
    .dec-size{
        display: none;
    }
    .hero-left h1{
       font-size: 40px;
    }
    .hero-left p{
        font-size: 12px;
    }
    .stats .container{
        max-width: 600px;
    }
    .scroll-element h1{
        font-size: 50px;
    }
    .stats-left{
        padding-left:80px;
    }
    .stats-right{
        max-width: 100%;
    }
    .podcast-left{
      padding-left: 200px;
    }
    .podcast-right{
        margin-top: 30px;
    }
}
@media screen and (max-width:620px){
    .podcast-left{
        padding-left: 30px;
      }
      .podcast-right{
          padding-left: 0;
      }
      .stats-dec2{
          display: none;
      }
      .stats-left{
          padding-left: 20px;
      }
      .stats-right{
        display: none;
      }
      .graph-background{
          display: none;
      }
      .popular_podcast h3{
          font-size: 39px;
      }
}
@media screen and (max-width:420px){
   .podcast-footer_left h1{
       font-size: 37px;
   }
   .podcast-footer_left p{
       font-size: 10px;
   }
   .footer h1{
       font-size: 37px;
   }
}